.topnav {
    overflow: hidden;
    background-color: #333;;
    display: flex;
    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hower {
            background-color: #ddd;
            color: black;
        }

        &.active {
            background-color: #4CAF50;
            color: white;
        }
    }
}

.example-form-field {
    margin-right: 20px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.highlight {
    background-color:dodgerblue;
}

.highlight-n {
    background-color: goldenrod;
}

.notification {
    cursor: pointer;
    width: 1.2%; 
    height: fit-content; 
    margin-right:2%; 
    margin-top: 12px;
    margin-left: 1%;
}