

<div style="height: 200%; width: 100%; position: absolute; z-index: 1200;" *ngIf="isRequest">
    <div class="center-m">
        <mat-card>
          <mat-card-title class="center-general">Meeting Request Form</mat-card-title>
          <mat-card-content *ngIf="!isExit">
            <div class="text-m">

              <p>
                <mat-form-field>
                  <input type="text" required matInput placeholder="Date" #date>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="text" required matInput placeholder="Time" #time>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field style="width: 300px;">
                  <input type="text" required matInput placeholder="Main Problem" #reason>
                </mat-form-field>
              </p>            

              <p>
                <mat-form-field style="width: 300px;">
                  <input type="text" required matInput placeholder="Message" #reason>
                </mat-form-field>
              </p> 

              <div class="button center-general">
                <button (click)='applyMeeting()' mat-button class="button-wrap-c"> Apply </button>
              </div>

            </div>
          </mat-card-content>

          <div style="font-size: 26px;margin-top: 200px; margin-bottom: 200px" class="center-general" *ngIf="isExit">
            Request has been created. Please wait until doctor will respond
          </div>
        </mat-card>
      </div>
</div>>

<div class="absolute-blur" *ngIf="isRequest">

</div>

<div class="fill-header">
    <div class="fill-image"></div>
</div>

<div class="search-bar">
    <input class="search-input">
    <button mat-button class="search-button">Search</button>
</div>

<div class="filter">
    <div class="search-body">
        <div class="row">
            <div class="filters">
                <div class="title-filter">
                    Filters
                </div>

                <div class="search-filter">
                    <div class="search-text">
                        Medical Specialist
                        <div class="filter-box">
                            <p><mat-checkbox class="filter-check" type="checkbox">  Family doctor</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Ordinary doctor</mat-checkbox></p>
                        </div>
                    </div>
                </div>

                <div class="search-filter">
                    <div class="search-text">
                        Doctor Type
                        <div class="filter-box">
                            <p><mat-checkbox class="filter-check" type="checkbox">  Allergy doctor</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Neuro doctor</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Therapist</mat-checkbox></p>
                        </div>
                    </div>
                </div>

                
                <div class="search-filter">
                    <div class="search-text">
                        Region
                        <div class="filter-box">
                            <p><mat-checkbox class="filter-check" type="checkbox">  Lviv</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Kyiv</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Odessa</mat-checkbox></p>
                            <p><mat-checkbox class="filter-check" type="checkbox">  Ivano Frankivsk</mat-checkbox></p>
                        </div>
                    </div>
                </div>

                <div class="search-filter">
                    <div class="search-text">
                        Price
                        <div class="filter-box">
                            <mat-slider thumbLabel horizontal class="filter-value" min="100" max="2000" step="19" value="100"> </mat-slider>
                        </div>
                    </div>
                </div>
            </div>

            <div class="results">
                <div class="header-panel">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Sorted By</mat-label>
                            <mat-select>
                            <mat-option [value]="0">
                                Name
                            </mat-option>
                            <mat-option [value]="1">
                                Price
                            </mat-option>
                            <mat-option [value]="2">
                                Rating
                            </mat-option>
                            <mat-option [value]="3">
                                Location
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="element">
                    <div class="first-area">
                        <img class="photo" src="../../assets/photo1.jpg">
                        <div class="rating">
                            Rating: 4.9
                        </div>
                    </div>

                    <div class="second-area">
                        <p class="title">Andrii Solomunski</p>
                        <span class="text"> Andrii is a great doctor with experience of 20 years.  
                            National leader in health IT interoperability, with over two decades of experience with healthcare system integrations. 
                            Before joining Safe, served as Executive Director of Carequality. 
                        </span>
                        <div class="buttons">
                            <button (click)='details()' mat-button class="button-wrap-details">
                                Details
                            </button>
                            <button (click)='request()' mat-button class="button-wrap">
                                Send Meeting Request
                            </button>
                        </div>
                    </div>

                    <div class="third-area">
                        <img class="map" src="../../assets/map1.jpg">
                    </div>
                </div>

                <div class="element">
                    <div class="first-area">
                        <img class="photo" src="../../assets/photo2.jpg">
                        <div class="rating">
                            Rating: 4.6
                        </div>
                    </div>

                    <div class="second-area">
                        <p class="title">Steve Rogger</p>
                        <span class="text"> Andrii is a great doctor with experience of 20 years.  
                            National leader in health IT interoperability, with over two decades of experience with healthcare system integrations. 
                            Before joining Safe, served as Executive Director of Carequality. 
                        </span>
                        <div class="buttons">
                            <button (click)='details()' mat-button class="button-wrap-details">
                                Details
                            </button>
                            <button (click)='request()' mat-button class="button-wrap">
                                Send Meeting Request
                            </button>
                        </div>
                    </div>

                    <div class="third-area">
                        <img class="map" src="../../assets/map2.jpg">
                    </div>
                </div>

                <div class="element">
                    <div class="first-area">
                        <img class="photo" src="../../assets/photo3.jpg">
                        <div class="rating">
                            Rating: 4.8
                        </div>
                    </div>

                    <div class="second-area">
                        <p class="title">Dave Netrian</p>
                        <span class="text"> Andrii is a great doctor with experience of 20 years.  
                            National leader in health IT interoperability, with over two decades of experience with healthcare system integrations. 
                            Before joining Safe, served as Executive Director of Carequality. 
                        </span>
                        <div class="buttons">
                            <button (click)='details()' mat-button class="button-wrap-details">
                                Details
                            </button>
                            <button (click)='request()' mat-button class="button-wrap">
                                Send Meeting Request
                            </button>
                        </div>
                    </div>

                    <div class="third-area">
                        <img class="map" src="../../assets/map3.jpg">
                    </div>
                </div>

                <div class="element">
                    <div class="first-area">
                        <img class="photo" src="../../assets/photo4.jpg">
                        <div class="rating">
                            Rating: 4.5
                        </div>
                    </div>

                    <div class="second-area">
                        <p class="title">John Werson</p>
                        <span class="text"> Andrii is a great doctor with experience of 20 years.  
                            National leader in health IT interoperability, with over two decades of experience with healthcare system integrations. 
                            Before joining Safe, served as Executive Director of Carequality. 
                        </span>
                        <div class="buttons">
                            <button (click)='details()' mat-button class="button-wrap-details">
                                Details
                            </button>
                            <button (click)='request()' mat-button class="button-wrap">
                                Send Meeting Request
                            </button>
                        </div>
                    </div>

                    <div class="third-area">
                        <img class="map" src="../../assets/map4.jpg">
                    </div>
                </div>

                <div class="element">
                    <div class="first-area">
                        <img class="photo" src="../../assets/photo5.jpg">
                        <div class="rating">
                            Rating: 5.0
                        </div>
                    </div>

                    <div class="second-area">
                        <p class="title">Ted Bernsk</p>
                        <span class="text"> Andrii is a great doctor with experience of 20 years.  
                            National leader in health IT interoperability, with over two decades of experience with healthcare system integrations. 
                            Before joining Safe, served as Executive Director of Carequality. 
                        </span>
                        <div class="buttons">
                            <button (click)='details()' mat-button class="button-wrap-details">
                                Details
                            </button>
                            <button (click)='request()' mat-button class="button-wrap">
                                Send Meeting Request
                            </button>
                        </div>
                    </div>

                    <div class="third-area">
                        <img class="map" src="../../assets/map5.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>